body{

background-color: black;

}

.text {
	
	color: white;
	
}

.button {
	
	background-color: black;
	border : solid white 2px;
	font-family : federoka;
	padding: 5px;
	color: white;
	
}


.table {
    border-collapse: collapse;
    width: 80%;
	color: white;
       }

.white-input {
  color: white;
  border: 1px solid white;
  padding: 4px;
  background-color: black;
}